[core]
	pager = less --tabs=1,5 -FRX

[credential]
	helper = cache

[push]
	default = simple

[user]
	email = devin.alvaro@gmail.com
	name = Devin Alvaro

[alias]
	a  = add
	aa = add --all
	ap = add --patch

	ch = cherry
	cp = cherry-pick

	cm = commit
	ca = commit --amend

	df = diff
	dc = diff --cached

	lg = log
	lo = log --oneline

	st = status --short
	sa = status --short -uall

	br = branch
	cl = clone
	cn = clean
	co = checkout
	fe = fetch
	mr = merge
	mv = mv
	p  = push
	pl = pull
	rb = rebase
	re = remote
	rl = reflog
	rm = rm
	rs = reset
	rt = rev-parse --show-toplevel
	rv = revert
	sh = stash

[url "ssh://gitlab@git.garena.com:2222/"]
	insteadOf = https://git.garena.com/
