## Competitive Programming
snippet cp
#include <bits/stdc++.h>

using namespace std;

int main() {
	ios_base::sync_with_stdio(0);

	${1}
}
endsnippet

snippet ll
long long ${1}
endsnippet

snippet ull
unsigned long long ${1}
endsnippet

snippet vi
vector<int> ${1}
endsnippet

snippet vvi
vector<vector<int>> ${1}
endsnippet

snippet ii
pair<int, int> ${1}
endsnippet

snippet vii
vector<pair<int, int>> ${1}
endsnippet

snippet iii
pair<int, pair<int, int>> ${1}
endsnippet
